# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: NegraTec
email: roselma.mendes@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  NegraTec vem de uma necessidade minha de colocar tudo o que me interessa em um lugar. Espalhar o que se fala sobre Feminismo Negro e tecnologia abordados juntos e não separados e o que se tem de música por aí.
  Esse portal é um pouco de mim. Esse pequeno mundo dentro de outro.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: roselmamendes
github_username:  roselmamendes

# Build settings
markdown: kramdown
highlighter: rouge
# theme: minima
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - Dockerfile
  - README.md
