<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que queremos</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Empoderar</h3>
                    <p class="text-muted">empoderar mulheres e adolescentes negras através da Computação</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3></h3>
                    <p class="text-muted">ajudar mulheres e adolescentes negras a se indentificar com uma profissão voltada para Computação</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Uma rede</h3>
                    <p class="text-muted">criar uma rede de mulheres e adolescentes negras na Computação: as que querem aprender e as que querem ensinar</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3></h3>
                    <p class="text-muted">um programa voltado para mulheres e adolescentes negras.</p>
                </div>
            </div>
        </div>
    </div>
</section>
