<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">{{site.name}}</a></h1>

					<!-- Banner -->
						<section id="banner">
							<header>
								<p>Este site está em construção... NÃO COMPARTILHE.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-users"></i>
										<header>
											<h2>Representatividade</h2>
										</header>
										
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-heart"></i>
										<header>
											<h2>Inspiração</h2>
										</header>
										
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Empoderamento</h2>
										</header>
										
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="{{site.url}}/contar-historia.html" class="button big">Conte-nos quem você é</a></li>
									<li><a href="#" class="button alt big">Quer ajudar?</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>