<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">{{site.name}}</a></h1>

					<!-- Banner -->
						<section id="banner">
							<header>
								<p>Este site está em construção... NÃO COMPARTILHE.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-users"></i>
										<header>
											<h2>Representatividade</h2>
										</header>
										<p>Eu, você, todas nós, merecemos ver pessoas como nós nas mais variedades atividades. Toda pessoa tem o direito de saber que ela pode ser o que ela quiser.</p>
                    <p>Aqui você conhece e compartilha a história de mulheres negras na área da Computação.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-heart"></i>
										<header>
											<h2>Mulheres Negras e a Computação</h2>
										</header>
										<p>Somos Mulheres Negras que fazem coisas fantásticas na Computação, seja desde Código, Infraestrura, Teste, Análise de Negócio, Liderança, Designers (UX's), etc.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Empoderamento</h2>
										</header>
										<p>Ajudar na construção de histórias das iniciantes, das veteranas na área de Computação.</p>
                    <p>Que mais mulheres e meninas negras possam fazer mais na área da Computação!</p>
                    <p>Ubuntu!</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="{{site.url}}/contar-historia.html" class="button big">Conte-nos quem você é</a></li>
									<li><a href="{{site.url}}/saiba-mais.html" class="button alt big">Saiba Mais</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>