<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>prover para as mulheres negras cursos que envolvam ensinar ferramentas e/ou o fazer tecnologias, para seu empoderamento</h1>
                        <a href="https://goo.gl/forms/FZ70nV2Q4oRoU2nq2" class="btn btn-outline btn-xl page-scroll">Como a Computação pode te ajudar?</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
	      <div class="device-container">
	      <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
				<img src="/img/negratec-logo.png" class="img-responsive" alt="">
              </div>
	      </div>
                
            </div>
        </div>
    </div>
</header>
