<div class="row main-section">
  <h5 class="header">medium.com/@roselmamendes</h5>
  {% for post in site.data.roselma-posts %}
  <div class="col m3 card small main-section-item">
    <div class="card-image">
      <img src="{{ post.imagem }}">
    </div>
    <span class="card-title"><a href="{{post.link}}" target="_blank">{{post.titulo}}</a></span>
  </div>
  {% endfor %}
  
  <a class="btn button-plus" href="http://medium.com/@roselmamendes" target="_blank">+ Mais</a>
</div>

<div class="row main-section-2">
  <h5 class="header">Tecnologia Feminina e Negra</h5>
  {% for post in site.data.feminina-negra %}
  <div class="col m3 card small main-section-item-2">
    <div class="card-image">
      <img src="{{ post.imagem }}">
    </div>
    <span class="card-title"><a href="{{post.link}}" target="_blank">{{post.titulo}}</a></span>
  </div>
  {% endfor %}
  
  <a class="btn button-plus">+ Mais</a>
</div>