<div class="row main-section">
  <h5 class="header">medium.com/@roselmamendes</h5>
  <div class="col m3 card small main-section-item">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/elza-soares.jpeg">
    </div>
    <span class="card-title">ViolênciaS Contra as Mulheres</span>
  </div>
  
  <div class="col m3 card small main-section-item">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/mr-robot.gif">
    </div>
    <span class="card-title">[Python] Construindo aplicações web seguras [com Flask]</span>
  </div>
  
  <div class="col m3 card small main-section-item">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/menina-negra-chiclete.jpeg">
    </div>
    <span class="card-title">Todas as pessoas deveriam saber o que é Segurança Digital</span>
  </div>
  
  <a class="btn button-plus">+ Mais</a>
</div>

<div class="row main-section-2">
  <h5 class="header">Tecnologia Feminina e Negra</h5>
  <div class="col m3 card small main-section-item-2">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/pretalab.png">
    </div>
    <span class="card-title">Quem são as mulheres negras e indígenas na tecnologia no Brasil?</span>
  </div>
  
  <div class="col m3 card small main-section-item-2">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/coisa-de-preto.jpg">
    </div>
    <span class="card-title">Ciência e tecnologia é coisa de preto</span>
  </div>
  
  <div class="col m3 card small main-section-item-2">
    <div class="card-image">
      <img src="{{ site.url }}/assets/images/wordpretas.png">
    </div>
    <span class="card-title">Oficina #MinasProgramam + #PretaLab, no Olabi Makerspace.</span>
  </div>
  
  <a class="btn button-plus">+ Mais</a>
</div>