<nav>
  <div class="nav-wrapper brown lighten-1">
    {% if page.url != '/' %}
      <a href="/" class="brand-logo"><img class="banner-img-content" src="/assets/images/black-girl-magic.jpeg" /></a>
    {% endif %}
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons pink-text text-lighten-4">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="pink-text text-lighten-4" href="/projeto-negratec">Ação NegraTec</a></li>
      <li><a class="pink-text text-lighten-4" href="/tec-negra">Tecnologia Negra</a></li>
      <li><a class="pink-text text-lighten-4" href="/feminismo-negro">Feminismo Negro</a></li>
      <li><a class="pink-text text-lighten-4" href="/musica">Música</a></li>
      {% if page.url != '/' %}
        <li><a class="pink-text text-lighten-4" href="/">Blog NegraTec</a></li>
      {% endif %}
      <li><a class="pink-text text-lighten-4" href="/about">Eu</a></li>
    </ul>
    <ul class="side-nav brown lighten-1" id="mobile-demo">
      <li><a class="pink-text text-lighten-4" href="/projeto-negratec">Ação NegraTec</a></li>
      <li><a class="pink-text text-lighten-4" href="/tec-negra">Tecnologia Negra</a></li>
      <li><a class="pink-text text-lighten-4" href="/feminismo-negro">Feminismo Negro</a></li>
      <li><a class="pink-text text-lighten-4" href="/musica">Música</a></li>
      <li><a class="pink-text text-lighten-4" href="/">Blog NegraTec</a></li>
      <li><a class="pink-text text-lighten-4" href="/about">Eu</a></li>
    </ul>
  </div>
</nav>
<script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav({
      menuWidth: 200
    });
 });
</script>
