<div class="post-list"><img src="{{post.image}}" alt="profile-sample1" class="profile"/>
  <div class="figcaption">
    <h3>{{post.name}}<span><a href="{{ post.url | prepend: site.baseurl }}">+Saiba mais</a></span></h3>
	<h3>{{post.cargo}}</h3>
    <div class="icons">
		<a href="http://linkedin.com/{{ post.linkedin }}"><i class="ion-social-linkedin-outline"></i></a>
		<a href="https://twitter.com/{{ post.twitter }}"> <i class="ion-social-twitter-outline"></i></a>
		<a href="https://github.com/{{ post.github }}"> <i class="ion-social-github-outline"></i></a></div>
  </div>
</div>
