.landing{
  font-family: "Open Sans";
}

.banner{
  font-family: "Open Sans";
}

#banner-img{
  height: 300px;
  width: 100%;
}

#banner-titulo { 
  position: absolute;
  top: 70px;
  left: 750px;
  font-size: 70px;
  color: indianred; 
}

#banner-descricao-site {
  color: white;
  display: none;
  top: 170px;
  left: 200px;
  position: absolute;
  font-size: 20px;
}

.banner:hover #banner-descricao-site{
  display: block;
}

.banner:hover #banner-titulo{
  display: none;
}