---
---
//http://www.colorcombos.com/color-schemes/386/ColorCombo386.html

$cor-fundo-nav-bar: #8d6e63;
$cor-texto-nav-bar: #f8bbd0;
$cor-fundo-botao:  #ffccbc;
$cor-linha-contorno-nav-bar: grey;

.banner-img{
  height: 300px;
  border-radius: 20px;
}

.banner-img-content{
  border-radius: 20px;
  margin-top: 8px;
  height: 100%;
  margin-left: 5px;
}

nav, .nav-wrapper{
  border-radius: 10px;
}

.nav-bar {
  padding-top: 20px;
  padding-right: 10px;
}

.badge-nav-bar{
  border: 1px solid $cor-linha-contorno-nav-bar;
  padding: 10px;
  border-radius: 20px;
  color: $cor-texto-nav-bar;
  float: right;
  margin-left: 10px;
  background-color: $cor-fundo-nav-bar;
}

.badge-posts{
  border: 1px solid $cor-linha-contorno-nav-bar;
  padding: 5px;
  border-radius: 20px;
  color: $cor-texto-nav-bar;
  float: right;
  background-color: $cor-fundo-nav-bar;
  margin-right: 10px;
  font-size: 10px;
}

.button-plus{
  background-color: $cor-fundo-botao !important;
  color: $cor-fundo-nav-bar !important;
  margin-bottom: 10px;
}

.main-section .posts{
  padding-left: 15px;
  color: $cor-fundo-nav-bar;
  font-size: 20px;
}

.footer{
  border-top: 5px dashed $cor-fundo-nav-bar;
  text-align: center;

  img{
    width: 30px;
    height: 30px;
  }

  p{
    color: $cor-fundo-nav-bar;
  }
}

.sobre{
  margin-bottom: 10px;
  display: inline-flex;

  img{
    float: right;
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }
}

.sobre-texto{
  padding-left: 10px;
  float: left;

  p{
    color: $cor-fundo-nav-bar;
    text-align: justify;
  }
}

.videoWrapper{
  display: none;
}

.slides a{
  background-color: rgba(140, 114, 114, 0.90);
}

@media all and (max-width: 420px){

  .sobre{
    display: block;
    img{
      float: none;
      width: 50%;
      height: 30%;
    }
  }

  .footer{
    clear: both;
  }

  .post-item{
    border: 2px solid $cor-fundo-nav-bar;
    border-radius: 10px;
    padding: 5px;
  }

  .main-section .posts{
    font-size: 20px;
  }

  .badge-posts{
    display: none;
  }

  .musica-item-medium{
    display: none !important;
  }

  // From https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
  .videoWrapper {
    display: inherit;
    position: relative;
    padding-bottom: 56.25% !important; /* 16:9 */
    padding-top: 25px !important;
    height: 0;
    margin-bottom: 20px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  //-------------------------------------

  .banner-img-content{display: none}

  .nav-wrapper{
    background: url('/assets/images/black-girl-magic.jpeg') center no-repeat;
    background-clip: border-box;
    background-size: cover;
  }

  i{
    background-color: rgba(140, 114, 114, 0.42);
  }

  .banner{
    display: none;
  }

}


