---
---
//http://www.colorcombos.com/color-schemes/386/ColorCombo386.html
#banner-img{
  height: 300px;
  border-radius: 20px;
}

.badge-nav-bar{
  border: 1px solid grey;
  padding: 10px;
  border-radius: 20px;
  color: #f8bbd0;
  float: right;
  margin-left: 10px;
  background-color: #8d6e63;
}

.badge-posts{
  border: 1px solid grey;
  padding: 5px;
  border-radius: 20px;
  color: #f8bbd0;
  float: right;
  background-color: #8d6e63;
  margin-right: 10px;
  font-size: 10px;
}

.nav-bar {
  padding-top: 20px;
  padding-right: 10px;
}

.button-plus{
  background-color: #ffccbc !important;
  color: #8d6e63 !important;
  margin-bottom: 10px;
}

.main-section .posts{
  padding-left: 15px;
  color: #8d6e63;
  font-size: 20px;
}

.musica-item{
  margin: 10px !important;
}

.footer{
  border-top: 5px dashed #8d6e63;
  text-align: center;

  img{
    width: 30px;
    height: 30px;
  }

  p{
    color: #8d6e63;
  }
}

.sobre{
  margin-bottom: 10px;
  display: inline-flex;

  img{
    float: right;
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }
}

.sobre-texto{
  padding-left: 10px;
  float: left;

  p{
    color: #8d6e63;
    text-align: justify;
  }
}

@media all and (max-width: 420px){

  .sobre{
    display: block;
    img{
      float: none;
      width: 50%;
      height: 30%;
      border-radius: 10px;
    }
  }

  .sobre-texto{

    p{
      color: #8d6e63;
      text-align: justify;
    }
  }

  .footer{
    clear: both;
  }

  li{
    border: 2px solid #8d6e63;
    border-radius: 10px;
    padding: 5px;
  }

  .main-section .posts{
    font-size: 20px;
  }

  .badge-posts{
    display: none;
  }

}


