---
---
//http://www.colorcombos.com/color-schemes/386/ColorCombo386.html

$cor-fundo-nav-bar: #8d6e63;
$cor-texto-nav-bar: #f8bbd0;
$cor-fundo-botao:  #ffccbc;
$cor-linha-contorno-nav-bar: grey;
$cor-texto-post: #424242;



#mobile-evento{
  display: none;
}

.img-post{
  width: 100%;
  border-radius: 10px;
}

.post-footer{
  border-bottom: 5px dashed $cor-fundo-nav-bar;
}

.missao-negratec {
  font-size: 24px;
  color: lightslategrey;
}

.img-negratec {
  width: 50%;
  margin-left: 25%;
}

.img-programar{
  max-width: 500px;
  max-height: 400px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post{
  font-family: "Times New Roman", Times, serif;
  color: $cor-texto-post;
  display: block;
  padding-bottom: 10px;
  width: 75%;
  margin: 0 auto;

  .img-descricao{
    font-size: 13px;
    text-align: center;
  }

  .compartilhe{
    margin-left: 0;
  }

  h4{
    font-family: Arial;
    color: black;
  }

  p{
    text-align: justify;
    font-size: 21px !important;
  }

  a{
    text-decoration: underline;
  }

  ul{
    padding-left: 30px !important;
    font-size: 21px;
  }

  li{
    list-style-type: disc !important;
  }

  .img-normal{
    max-width: 90%;
    max-height: 400px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-pequena-esquerda{//necessario usar <br style="clear: both;"> antes do proximo texto ou imagem que não deseje ser colocado para a direita da imagem
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    float: left;
    margin: 0px 15px 15px 0px;
  }

  .gist{
    margin-right: auto;
    margin-left: auto;
  }

  .highlight {//copiando do site http://rouge.jneen.net/
    .n{
      color: #8959A8;
    }
    border: 1px solid #f7bdc7;
    border-radius: 3px;
    line-height: 1.5;
  }

}

#assinatura{
  display: block;
}

#assinatura-mobile{
  display: none;
}

.banner-img{
  height: 300px;
  border-radius: 20px;
}

.brand-logo{
  height: 100%
}

.banner-img-content{
  border-radius: 20px;
  margin-top: 8px;
  height: 100%;
  margin-left: 5px;
}

nav, .nav-wrapper{
  border-radius: 10px;
}

.nav-bar {
  padding-top: 20px;
  padding-right: 10px;
}

.badge-nav-bar{
  border: 1px solid $cor-linha-contorno-nav-bar;
  padding: 10px;
  border-radius: 20px;
  color: $cor-texto-nav-bar;
  float: right;
  margin-left: 10px;
  background-color: $cor-fundo-nav-bar;
}

.badge-posts{
  border: 1px solid $cor-linha-contorno-nav-bar;
  padding: 5px;
  border-radius: 20px;
  color: $cor-texto-nav-bar;
  background-color: $cor-fundo-nav-bar;
  margin-right: 10px;
  font-size: 10px;
}

.button-plus{
  background-color: $cor-fundo-botao !important;
  color: $cor-fundo-nav-bar !important;
  margin-bottom: 10px;
}

.main-section .posts{
  padding-left: 15px;
  color: $cor-fundo-nav-bar;
  font-size: 20px;
}

.footer{
  border-top: 5px dashed $cor-fundo-nav-bar;
  text-align: center;
  clear: both;
  img{
    width: 30px;
    height: 30px;
  }

  p{
    color: $cor-fundo-nav-bar;
  }
}

.sobre{
  margin-bottom: 10px;
  display: block;

  img{
    float: left;
    width: 30%;
    border-radius: 10px;
    margin: 0 10 10 10;
  }
}

.sobre-texto{
  clear: none;

  p{
    color: $cor-fundo-nav-bar;
    text-align: justify;
  }
}

.videoWrapper{
  display: none;
}

.slides a{
  background-color: rgba(140, 114, 114, 0.90);
}

@media all and (max-width: 420px){

  #assinatura{
    display: none;
  }

  #assinatura-mobile{
    display: block;
  }

  .post{
    width: 100%;
  }

  .slider{
    display: none;
  }
  #normal-evento{
    display: none;
  }

  #mobile-evento{
    display: block;
    img{
      width: 100%;
    }
  }
  .sobre{
    display: block;
    img{
      float: none;
      width: 100%;
      margin: 5 0 0 0;
    }
  }

  .footer{
    clear: both;
  }

  .post-item{
    border: 2px solid $cor-fundo-nav-bar;
    border-radius: 10px;
    padding: 5px;
  }

  .main-section .posts{
    font-size: 20px;
    padding-left: 0px;
  }

  .badge-posts{
    display: none;
  }

  .musica-item-medium{
    display: none !important;
  }

  // From https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
  .videoWrapper {
    display: inherit;
    position: relative;
    padding-bottom: 56.25% !important; /* 16:9 */
    padding-top: 25px !important;
    height: 0;
    margin-bottom: 20px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  //-------------------------------------

  .banner-img-content{display: none}

  .nav-wrapper{
    background: url('/assets/images/black-girl-magic.jpeg') center no-repeat;
    background-clip: border-box;
    background-size: cover;
  }

  .banner{
    display: none;
  }

}
