---
layout: default
---
	<body class="left-sidebar">
	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						
						<div class="8u skel-cell-important" style="margin-left:200px;">

							<!-- Content -->
								<article class="box post" style="align: center;">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/lelia-falando.jpg" alt="" style="height: 400px;"/></a>
									<header>
										<h2>{{page.title}}</h2>
										<p>Atualmente para adicionar sua história no site é necessário ter <b>uma conta no Github.</b></p>
                    <p>Em breve vamos colocar outras maneiras de mandar histórias.</p>
									</header>
									{{content}}
									
								</article>

						</div>
					</div>
				</div>
			</div>