---
layout: default
---
	<body class="left-sidebar">
	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						
						<div class="8u skel-cell-important" style="margin-left:200px;">

							<!-- Content -->
								<article class="box post" style="align: center;">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}{{page.imagem}}" alt="" style="height: 400px;"/></a>
									
									{{content}}
									
								</article>

						</div>
					</div>
				</div>
			</div>