{% include header.html %}
<body>
{% include nav.html %}
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

			<!-- Blog -->
				<section>
					<header class="major">
						<h2>{{ page.title }}</h2>
						<p>Atualizado {{ page.date | date_to_string }}</p>
					</header>
					<div class="row">
						<div class="8u -2u">
								<a href="#" class="image featured"><img  style="width: 30%; display: block;"src="{% if page.featured %}{{ site.baseurl }}{{ page.featured }} {% else %} {{ site.baseurl }}/assets/images/sem-foto.png {% endif %}" alt="" /></a>
								<a href="http://github.com/{{page.github}}" style="font-size: 2em;" class="icon fa-github-square"></a>
								<a href="http://twitter.com/{{page.twitter}}" style="font-size: 2em;" class="icon fa-twitter-square"></a>
								<a href="http://br.linkedin.com/in/{{page.linkedin}}" style="font-size: 2em;" class="icon fa-linkedin-square"></a>
								<p>{{ page.content }}</p>
								Compartilhe:
								<a href="" style="font-size: 1em" class="icon fa-facebook"></a>
								<a href="" style="font-size: 1em" class="icon fa-retweet"></a>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</div>
{% include footer.html %}